
* {
    font-family: 'Roboto', sans-serif;
}
#symbol {
    position: relative;
    float: right;
    top: 50px;
}
html {
    background: rgba( 255, 220, 0, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
}
#symbolText {
    position: relative;
    top: 40px;
}
#titleDiv{
    display: block;
    position: -webkit-sticky;
    position: sticky;
}
#title{
    font-weight: 700;
    width: 100%;
    top: -25px;
}

#nutrition{
    position: relative;
    float: left;
    margin-top: 50px;
}
#banana{position: relative; height: 220px; width: auto; top: -30px;}
#nutritionText{position: relative; top: 40px}
h1 {
    position: absolute;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
#potFoodsTitle{
    position: absolute;
    top: 590px;
    width: 104%;
}
.titl{
    background: rgba( 255, 220, 0, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
}
#model{
    top: 50px;
    position: relative;
    float: right;
}
.navigation{
    border-radius: 5px;  
    border-width: thick;
    font-weight: bold;
    font-size: 30px;
    color: peru;
    float: right;
    position: relative;
}
#gameNav{
    color: peru;
}
.all-center {
    margin: 0;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
.first{
    left: 42%;
    top: 45%;
}
.second{
    left: 53%;
    top: 45%;
}
.third{
    left: 42%;
    bottom: 45%;
}
.fourth{
    left: 53%;
    bottom: 45%;
}
.inTop{
    top: 40%
}
.inBot{
    bottom: 40%
}
.inRight{
    right: 43.5%;
}
#voting{
    border-radius: 10px;
}
#optionCon{
    border: 3px solid black;
    top: 47.6%;
    width: 17%;
    height: 100px;
    left: 47.6%
}
#gameTitle{
    top: 35%;
    left: 47.6%
}